@using NewsMedia.Infrastructure.DTOS.Entities.Article.Get
@model List<GetArticleFullDto>
<div class="container">

    <div class="row">
        <div class="col-md">
            <!-- Adjust the column width to fit 3 cards per row -->
            <div class="card custom-card">
                <div class="card-body">
                    @foreach (var item in Model)
                    {

                        <h5 class="card-title">@item.Name</h5>
                        <img src="~/images/@(item.ArticleTitleFile.FileName)" class="card-img img-fluid" alt="...">
                        <p>@item.Content</p>
                        <p class="card-text">@item.AddDate.ToString("MMM dd, yyyy HH:mm")</p>
                        @foreach (var tag in item.Tags)
                        {
                            <p>@tag.Name</p>
                        }
                    }
                    @* <a asp-action="UpdateArticle" asp-controller="News" asp-route-id="@Model.Id"> this is update</a> *@
                </div>
            </div>
        </div>
    </div>
</div>